/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  color: var(--accent-color);
  font-family: var(--main-font, "Inter", sans-serif);
  background-color: var(--background-color);
  background-image: var(--background-image);
  background-size: cover;
  background-attachment: fixed;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-variation-settings: "wght" var(--font-weight-card-text);
}

.container {
  margin: 0 auto;
  max-inline-size: 696px;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 102px auto 100px;
  border: 2px solid var(--accent-color);
  padding: clamp(7.5rem, 7.1479rem + 1.5023vw, 8.5rem) 0 25px;
  font-family: var(--accent-font);
  font-size: 14px;
  text-transform: uppercase;
  background-color: var(--background-color);
}

.header__title {
  -webkit-margin-after: 20px;
  margin-block-end: 20px;
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);

  text-align: center;
}

.header__subtitle {
  -webkit-margin-after: 25px;
  margin-block-end: 25px;
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  text-align: center;
}

.theme-menu__list {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 11px;
  -webkit-margin-start: 23px;
  margin-inline-start: 23px;
  text-align: left;
}

.theme-menu__button {
  border: 0;
  padding: 0;
  text-transform: inherit;
  background-color: transparent;
}

.theme-menu__button:disabled {
  position: relative;
  opacity: 0.6;
  transition: opacity 0.3s ease;
  pointer-events: none;
}

.theme-menu__button:focus {
  outline: none;
  opacity: 0.6;
}

.theme-menu__button:focus-visible,
.theme-menu__button:hover {
  opacity: 0.6;
  transition: opacity 0.3s ease;
  cursor: pointer;
}

.theme-menu__button::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: var(--accent-color);
  transition: width 0.3s ease;
}

.theme-menu__button:focus-visible::after {
  width: 100%;
}

.theme-menu__button:disabled::before {
  content: "▶";
  position: absolute;
  left: -25px;
  font-size: 14px;
  -webkit-animation: moveLeftRight 0.5s infinite ease-in-out alternate;
  animation: moveLeftRight 0.5s infinite ease-in-out alternate;
}

@-webkit-keyframes moveLeftRight {
  0% {
    left: -25px;
  }

  100% {
    left: -21px;
  }
}

@keyframes moveLeftRight {
  0% {
    left: -25px;
  }

  100% {
    left: -21px;
  }
}

.cards {
  display: flex;
  flex-direction: column;
  gap: 41px;
  -webkit-margin-after: 105px;
  margin-block-end: 105px;
}

.card {
  outline: 2px solid var(--accent-color);
  outline-offset: -2px;
  background-color: var(--background-color);
}

.card__title {
  padding: 3px 10px;
  font-variation-settings: "wght" var(--font-weight-card-title);
}

.card__img-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--accent-color);
}

.card__img {
  -o-object-fit: cover;
  object-fit: cover;
  max-inline-size: 100%;
  max-block-size: 100%;
}

.card:nth-child(2) .card__img {
  -webkit-filter: grayscale(0.8);
  filter: grayscale(0.8);
}

.card:nth-child(3) .card__img {
  -webkit-filter: sepia(1) contrast(2) brightness(110%);
  filter: sepia(1) contrast(2) brightness(110%);
}

.card:nth-child(4) .card__img {
  -webkit-filter: saturate(60%) hue-rotate(90deg);
  filter: saturate(60%) hue-rotate(90deg);
}

.card:nth-child(5) .card__img {
  -webkit-filter: blur(5px) grayscale(50%);
  filter: blur(5px) grayscale(50%);
}

.card:nth-child(6) .card__img {
  -webkit-filter: invert(75%);
  filter: invert(75%);
}

.card:nth-child(7) .card__img {
  -webkit-filter: hue-rotate(150deg);
  filter: hue-rotate(150deg);
}

.card:nth-child(8) .card__img {
  -webkit-filter: hue-rotate(50deg) brightness(0.4);
  filter: hue-rotate(50deg) brightness(0.4);
}

.card__watermark {
  position: absolute;
  top: 25px;
  right: clamp(0.8125rem, 0.5484rem + 1.1268vw, 1.5625rem);
  z-index: 1;
  opacity: 0.5;
  font-family: var(--accent-font);
  font-size: 14px;
  text-shadow: -1px 0 var(--background-color), 0 1px var(--background-color),
    1px 0 var(--background-color), 0 -1px var(--background-color);
  mix-blend-mode: hard-light;
}

.card__desc {
  display: flex;
  flex-direction: column;
  gap: 27px;
  padding: 25px;
  font-size: 18px;
  font-variation-settings: "wght" var(--font-weight-card-text);
}

@supports (
  (text-stroke: 1px var(--background-color)) or
    (-webkit-text-stroke: 1px var(--background-color))
) {
  .card__watermark {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--background-color);
    text-stroke: 1px var(--background-color);
  }
}

.card__desc-buttons {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 5px;
}

.card__icon-button {
  border: 2px solid transparent;
  padding: 0;
  fill: var(--accent-color);
  background-color: transparent;
  transition: border 0.3s ease;
  cursor: pointer;
  block-size: 100%;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border: 2px solid var(--accent-color);
}

.core {
  transition: 0.03s linear;
}

.card__icon-button:hover .core {
  fill: var(--accent-color);
  transition: fill 0.3s linear;
}

.like-icon:active .core {
  fill: var(--heart-color);
  transition: fill 0.3s linear;
}

.main-body {
  transition: 0.3s linear;
}

.like-icon:hover .main-body {
  fill: var(--accent-color);
  transition: 0.3s 0.05s linear;
}

.like-icon:active .main-body {
  fill: var(--heart-color);
  transition: 0.3s 0.05s linear;
}

.like-icon.is-liked .core {
  fill: var(--heart-color);
  transition: fill 0.3s linear;
}

.like-icon.is-liked .main-body {
  fill: var(--heart-color);
  transition: fill 0.3s linear;
}

.contour {
  fill: var(--accent-color);
  transition: fill 0.1s linear;
}

.like-icon.is-liked .contour {
  fill: var(--heart-color);
  transition: fill 0.3s 0.6s linear;
}

.like-icon.is-liked .heart {
  transform-origin: center center;
  -webkit-animation: animHeart 0.3s 0.1s ease-in alternate;
  animation: animHeart 0.3s 0.1s ease-in alternate;
}

@-webkit-keyframes animHeart {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.5);
  }
}

@keyframes animHeart {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.5);
  }
}

.sparks {
  opacity: 0;
}

.like-icon.is-liked .sparks {
  -webkit-animation: animSparks 0.3s 0.3s ease-in alternate;
  animation: animSparks 0.3s 0.3s ease-in alternate;
}

@-webkit-keyframes animSparks {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes animSparks {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.card__like-button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--accent-color);
  color: var(--accent-color);
  font-family: var(--accent-font);
  font-size: 14px;
  line-height: 90%;
  background-color: transparent;
  transition: box-shadow 0.3s ease;
  cursor: pointer;
  inline-size: 130px;
  block-size: 38px;
}

.card__like-button:focus,
.card__buttons:focus,
.dialog__close:focus {
  outline: none;
}

.card__like-button:focus-visible,
.card__buttons:focus-visible,
.dialog__close:focus {
  box-shadow: 2px 2px 0px 0px var(--accent-color);
}

.card__buttons {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border: 2px solid var(--accent-color);
  padding: 15px 20px;
  font-family: var(--accent-font);
  font-size: 14px;
  background-color: var(--background-color);
  cursor: pointer;
}

.card__buttons-save {
  inline-size: 21px;
  block-size: 21px;
}

.button__text {
  color: var(--accent-color);
}

.button__text::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  width: 0;
  height: 100%;
  background-color: var(--background-color);
  transition: width 0.5s ease-in-out;
}

.card__buttons:hover .button__text::before,
.card__like-button:hover .button__text::before,
.dialog__close:hover .button__text::before {
  width: 100%;
}

.card__buttons:hover .button__text,
.card__like-button:hover .button__text,
.dialog__close:hover .button__text {
  mix-blend-mode: difference;
}

.dialog {
  position: fixed;
  inset: 0;
  border: 2px solid var(--accent-color);
  padding: 32px;
  color: var(--accent-color);
  font-family: var(--accent-font);
  font-size: 14px;
  line-height: 150%;
  text-transform: uppercase;
  background-color: var(--background-color);
  transition: opacity 0.3s ease-in-out;
  max-inline-size: 355px;
  inline-size: 90%;
}

.dialog:not([open]) {
  opacity: 0;
  pointer-events: none;
}

.dialog::-webkit-backdrop {
  background-color: rgb(0 0 0 / 0.75);
}

.dialog::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}

.dialog__window {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  gap: 30px;
}

.dialog__window-insert-disk {
  display: flex;
  align-items: center;
  gap: 20px;
}

.svg-container,
.dialog__window-insert-disk-svg {
  inline-size: 39px;
  block-size: 39px;
}

.dialog__close {
  position: relative;
  border: 2px solid var(--accent-color);
  padding: 13px;
  text-transform: inherit;
  background-color: transparent;
}

.dialog__close:hover {
  cursor: pointer;
}

@media (width <=375px) {
  .card__buttons {
    flex-direction: column;
  }

  .card__buttons-save {
    max-inline-size: 28px;
    max-block-size: 28px;
  }
}
