/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */

:root {
  --main-font: "Inter";
  --accent-font: "PressStart2P";
  --font-weight-card-title: 700;
  --font-weight-card-text: 400;
  --background-color: #fff;
  --accent-color: #000;
  --heart-color: red;
  --background-image: repeating-linear-gradient(
      90deg,
      #d3d3d3 0 2px,
      rgb(211 211 211 / 0) 2px 4px
    ),
    repeating-linear-gradient(0deg, #d3d3d3 0 2px, rgb(211 211 211 / 0) 2px 4px),
    linear-gradient(180deg, #e7e7e7 0%, #1a1a1a 100%);
}
